In [12]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

## Data Exploration

In [13]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [14]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [15]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [16]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [17]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [19]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

## Training the model

In [62]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs,target,test_size =0.2)

In [63]:
len(X_train)

712

In [64]:
len(X_test)

179

In [65]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [66]:
 model.fit(X_train,y_train)

GaussianNB()

In [67]:
model.score(X_test,y_test)

0.8100558659217877

In [68]:
model.predict(X_test)

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1], dtype=int64)

In [69]:
model.predict_proba(X_test)

array([[9.16876412e-01, 8.31235885e-02],
       [9.10525307e-01, 8.94746928e-02],
       [9.66814195e-01, 3.31858046e-02],
       [9.86661778e-01, 1.33382218e-02],
       [2.77631394e-02, 9.72236861e-01],
       [2.75700208e-02, 9.72429979e-01],
       [9.89164453e-01, 1.08355467e-02],
       [5.74636000e-02, 9.42536400e-01],
       [9.10525307e-01, 8.94746928e-02],
       [9.88026607e-01, 1.19733925e-02],
       [9.99837708e-09, 9.99999990e-01],
       [8.10348422e-03, 9.91896516e-01],
       [9.87042918e-01, 1.29570818e-02],
       [3.61015546e-02, 9.63898445e-01],
       [6.00715053e-02, 9.39928495e-01],
       [9.84211161e-01, 1.57888387e-02],
       [9.74786354e-01, 2.52136464e-02],
       [7.11829361e-03, 9.92881706e-01],
       [9.73129110e-01, 2.68708903e-02],
       [9.86631707e-01, 1.33682933e-02],
       [2.51861832e-02, 9.74813817e-01],
       [9.73129110e-01, 2.68708903e-02],
       [9.88067514e-01, 1.19324856e-02],
       [9.87813847e-01, 1.21861530e-02],
       [9.75112406e-01, 2.48875940e-02],
       [9.75323001e-01, 2.46769993e-02],
       [4.90828993e-02, 9.50917101e-01],
       [9.86938992e-01, 1.30610081e-02],
       [5.75308353e-02, 9.42469165e-01],
       [9.87531348e-01, 1.24686521e-02],
       [9.75471240e-01, 2.45287601e-02],
       [9.07006534e-01, 9.29934663e-02],
       [9.74684306e-01, 2.53156943e-02],
       [9.86851251e-01, 1.31487489e-02],
       [9.15601800e-01, 8.43981998e-02],
       [9.85677188e-01, 1.43228119e-02],
       [2.72969727e-01, 7.27030273e-01],
       [9.17730208e-01, 8.22697922e-02],
       [9.86801824e-01, 1.31981762e-02],
       [1.22093044e-05, 9.99987791e-01],
       [9.84933201e-01, 1.50667986e-02],
       [9.06464975e-01, 9.35350245e-02],
       [9.88022821e-01, 1.19771788e-02],
       [9.88035231e-01, 1.19647693e-02],
       [9.88942888e-01, 1.10571115e-02],
       [6.29598640e-02, 9.37040136e-01],
       [3.04658877e-02, 9.69534112e-01],
       [9.68599206e-01, 3.14007943e-02],
       [2.52649276e-02, 9.74735072e-01],
       [9.88082831e-01, 1.19171687e-02],
       [2.68560406e-02, 9.73143959e-01],
       [9.88074242e-01, 1.19257581e-02],
       [1.72311536e-03, 9.98276885e-01],
       [6.30879709e-01, 3.69120291e-01],
       [9.75112406e-01, 2.48875940e-02],
       [4.98542736e-03, 9.95014573e-01],
       [5.87982476e-02, 9.41201752e-01],
       [2.31375303e-02, 9.76862470e-01],
       [9.86366300e-01, 1.36336996e-02],
       [9.89153577e-01, 1.08464231e-02],
       [9.79359140e-01, 2.06408604e-02],
       [2.59867078e-02, 9.74013292e-01],
       [9.88688511e-01, 1.13114890e-02],
       [2.06024099e-03, 9.97939759e-01],
       [2.74226744e-02, 9.72577326e-01],
       [5.07281729e-02, 9.49271827e-01],
       [9.74407639e-01, 2.55923610e-02],
       [5.95404115e-02, 9.40459589e-01],
       [9.88359277e-01, 1.16407234e-02],
       [9.74428396e-01, 2.55716040e-02],
       [5.82603517e-02, 9.41739648e-01],
       [9.85992054e-01, 1.40079458e-02],
       [9.74007142e-01, 2.59928580e-02],
       [5.48184849e-02, 9.45181515e-01],
       [9.74007142e-01, 2.59928580e-02],
       [2.21586243e-02, 9.77841376e-01],
       [9.74983162e-01, 2.50168378e-02],
       [9.87731910e-01, 1.22680897e-02],
       [9.88026607e-01, 1.19733925e-02],
       [9.84830631e-01, 1.51693688e-02],
       [1.49317148e-08, 9.99999985e-01],
       [6.30083527e-02, 9.36991647e-01],
       [5.66801787e-02, 9.43319821e-01],
       [9.17420595e-01, 8.25794054e-02],
       [9.85715742e-01, 1.42842578e-02],
       [4.49022292e-03, 9.95509777e-01],
       [9.88114978e-01, 1.18850216e-02],
       [9.69448648e-01, 3.05513522e-02],
       [4.39940806e-12, 1.00000000e+00],
       [4.35691112e-02, 9.56430889e-01],
       [9.10441160e-01, 8.95588402e-02],
       [9.80051902e-01, 1.99480979e-02],
       [2.08738390e-03, 9.97912616e-01],
       [2.95933925e-02, 9.70406608e-01],
       [8.83352217e-01, 1.16647783e-01],
       [2.91796610e-02, 9.70820339e-01],
       [9.75173938e-01, 2.48260624e-02],
       [9.88357673e-01, 1.16423266e-02],
       [7.40177709e-01, 2.59822291e-01],
       [5.78513249e-02, 9.42148675e-01],
       [5.87924071e-02, 9.41207593e-01],
       [9.85664071e-01, 1.43359291e-02],
       [9.73129110e-01, 2.68708903e-02],
       [9.17000273e-01, 8.29997272e-02],
       [9.44449737e-01, 5.55502626e-02],
       [5.79295194e-02, 9.42070481e-01],
       [8.67648615e-01, 1.32351385e-01],
       [9.18803025e-01, 8.11969748e-02],
       [9.88035231e-01, 1.19647693e-02],
       [4.03224363e-02, 9.59677564e-01],
       [3.18477048e-02, 9.68152295e-01],
       [9.85038027e-01, 1.49619725e-02],
       [1.52259916e-09, 9.99999998e-01],
       [2.68340276e-02, 9.73165972e-01],
       [9.88981748e-01, 1.10182517e-02],
       [2.47197955e-02, 9.75280204e-01],
       [9.43720597e-01, 5.62794027e-02],
       [8.82608016e-01, 1.17391984e-01],
       [9.86300789e-01, 1.36992108e-02],
       [9.88018270e-01, 1.19817302e-02],
       [9.88036098e-01, 1.19639024e-02],
       [9.75887105e-01, 2.41128955e-02],
       [9.88349564e-01, 1.16504365e-02],
       [9.85762420e-01, 1.42375801e-02],
       [3.06222378e-02, 9.69377762e-01],
       [9.87987021e-01, 1.20129794e-02],
       [9.89157025e-01, 1.08429751e-02],
       [9.78777682e-01, 2.12223177e-02],
       [7.47252653e-03, 9.92527473e-01],
       [9.86300789e-01, 1.36992108e-02],
       [9.64183856e-01, 3.58161438e-02],
       [9.88026607e-01, 1.19733925e-02],
       [9.88888198e-01, 1.11118019e-02],
       [2.07461204e-01, 7.92538796e-01],
       [1.14898030e-05, 9.99988510e-01],
       [5.81383254e-01, 4.18616746e-01],
       [4.52774753e-02, 9.54722525e-01],
       [9.88026607e-01, 1.19733925e-02],
       [1.06652574e-02, 9.89334743e-01],
       [3.52902748e-02, 9.64709725e-01],
       [9.88547839e-01, 1.14521609e-02],
       [7.30022600e-01, 2.69977400e-01],
       [6.39039816e-03, 9.93609602e-01],
       [9.85664071e-01, 1.43359291e-02],
       [9.86214465e-01, 1.37855355e-02],
       [2.82206467e-02, 9.71779353e-01],
       [5.19306128e-02, 9.48069387e-01],
       [9.88026607e-01, 1.19733925e-02],
       [9.74421236e-01, 2.55787639e-02],
       [9.88017547e-01, 1.19824533e-02],
       [4.60707028e-04, 9.99539293e-01],
       [4.61779475e-02, 9.53822053e-01],
       [9.67100128e-01, 3.28998718e-02],
       [5.77078014e-02, 9.42292199e-01],
       [9.86042560e-01, 1.39574398e-02],
       [2.15903855e-03, 9.97840961e-01],
       [9.87919488e-01, 1.20805119e-02],
       [9.17865588e-01, 8.21344120e-02],
       [9.76555183e-01, 2.34448170e-02],
       [3.05965186e-02, 9.69403481e-01],
       [9.88832777e-01, 1.11672231e-02],
       [9.89022068e-01, 1.09779324e-02],
       [2.69947485e-03, 9.97300525e-01],
       [9.75862733e-01, 2.41372669e-02],
       [2.90267387e-02, 9.70973261e-01],
       [8.45072392e-01, 1.54927608e-01],
       [9.88035231e-01, 1.19647693e-02],
       [9.86257051e-01, 1.37429485e-02],
       [2.56451788e-02, 9.74354821e-01],
       [9.88536915e-01, 1.14630849e-02],
       [9.75570028e-01, 2.44299720e-02],
       [5.48360455e-02, 9.45163955e-01],
       [9.85326381e-01, 1.46736191e-02],
       [4.46404776e-02, 9.55359522e-01],
       [9.76238611e-01, 2.37613893e-02],
       [9.75068759e-01, 2.49312412e-02],
       [9.82207147e-01, 1.77928531e-02],
       [9.04339959e-01, 9.56600405e-02],
       [2.85822852e-03, 9.97141771e-01]])